/*Navigation Bar*/
header{
  vertical-align: top;
  text-align: center;
  width: 100%;
  top: 0;
  left: 0;
  position: relative;
}
.logo {
  display: inline-block;
  width: 20%;
  padding:1%;
}
.nav{
  display: inline-block;
  width: 70%;
  padding: 1%;
}
.nav ul li{
  display:inline;
  margin-left: auto;
  padding: 8px;
}
.nav ul{
  float: right;
}

  /*About Me*/
  .heroImg {
    height: 600px;
    padding: 25px;
  }
  .content {
    margin: 0 auto;
    width: 750px;
  }
  .left {
    float: left;
    padding-right: 15px;
  }
    /*Case Studies*/
.CaseStudies {
  background-color: gray;
}

.flexContainer {
  display: flex;
  width: 33%;
  margin: 2%;
  padding: 16px;
}

.flex_item

    /*Skills and Tools*/

.SkillsandTools {
  background-color: gray;
}

.mySkills {
  background-color: burlywood;
}

.mySkill_list

.myTools {
  display: flex;
  background-color: cadetblue;
}

.toolslist ul li img


    /*Footer*/
  footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: gray;
  text-align: center;
  }
  footer ul li{
    display: inline-block;
    padding: 8px;
  }
    /*Web Style*/
  h1 {
    font-family: Cormorant, Bold;
    font-size: 25px;
  }
  p {
    font-family: Open Sans, regular;
    font-size: 15px;
  }
  a:link {
    font-family: Open Sans, regular;
  }
  button {
    font-family: Open Sans, Regular;
    font-size: 25px;
    background-color: blue;
  }

  h2